{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/logo/favicon.ico' %}" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Reset Password</title>
</head>
<style>
    html,
    body {
        background: #efefef;
        padding: 10px;
        font-family: 'Varela Round';
    }
    
    .card {
        margin: 10% auto;
        width: 40%;
        min-height: 60vh;
        box-shadow: 0 0 10px 0 gray;
        animation: card 3s 0s 1 ease-in;
        text-align: center;
    }
    
    .card-body {
        position: absolute;
        top: 20%;
        left: 41%;
    }
</style>

<body>
    <!-- wrapper -->
    <div class="wrapper">
        <div class="authentication-reset-password d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-lg-5 border-end">
                                <div class="card-body">
                                    <div class="p-5">
                                        <div class="text-start">
                                            <img src="{% static 'assets/sign-up/images/logo.png' %}" class="logo-icon" alt="logo icon">
                                        </div>
                                        <h4 class="mt-5 font-weight-bold">Generate New Password</h4>
                                        <p class="text-muted">We received your reset password request. Please enter your new password!</p>
                                        <form method="post">
                                            {% csrf_token %} {{form.errors}}
                                            <fieldset class="module aligned">
                                                <div class="form-row field-password1">
                                                    <label for="id_new_password1">New password:</label>
                                                    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list" class="form-control">
                                                </div>
                                                <div class="form-row field-password2">

                                                    <label for="id_new_password2">Confirm password:</label>
                                                    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" class="form-control">
                                                </div>
                                                <input type="submit" value="Change my password" class="btn btn-primary mt-2">
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end wrapper -->
</body>

</html>