{% extends '../base.html' %} {% load crispy_forms_tags %} {% load static %} {% block css %}
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css"> {% endblock %} {% block header %}
<h2 style="position: absolute; left: 40%;" class="text-center font-weight-bolder py-2">Add Driver</h2>
{% endblock %} {% block content %}
<div class="container">
    <div class="card py-4 mb-3">
        <form action="" method="post" class="p-5">
            {% csrf_token %} {{form|crispy}}
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %} {% block js %}{% endblock %}