{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <table id="example" class="display" style="width: 100%;">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Vehicle ID</th>
                        <th>Vehicle Name</th>
                        <th>Geo Name</th>
                        <th>Geo Event</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}