{% extends 'base.html' %} {% load static %} {% block header %}
<h2 style="position: absolute; left: 40%;" class="text-center font-weight-bolder py-2">Tracking</h2>
{% endblock %} {% block content %}
<div class="container">
    <div id="map" style="width: 100%; height: 100vh; margin-top: -50px;" class="mb-3"></div>
</div>
{% endblock %} {% block js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmk0JiD0QiKHxJsgv9_eWXucmCQWQX9G4&callback=initMap&libraries=&v=weekly" async></script>
<script>
    function initMap() {
        const directionsService = new google.maps.DirectionsService();
        const directionsRenderer = new google.maps.DirectionsRenderer();
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 12,
            center: {
                lat: 23.685371012219367,
                lng: 90.55068228152635
            },
        });
        const tourStops = [
            [{
                lat: 23.876122599980548,
                lng: 90.37366181042569
            }, "Uttara<br>Fuel: <b>50ltr</b>"],
            [{
                lat: 23.895795065886094,
                lng: 90.3275986472296
            }, "Ashulia<br>Fuel: <b>20ltr</b>"],
            [{
                lat: 23.864819032613955,
                lng: 90.52194022840233
            }, "Zinda Park<br>Fuel: <b>30ltr</b>"],
            [{
                lat: 24.090718951695425,
                lng: 90.40604845981309
            }, "Bhawal National Park<br>Fuel: <b>10ltr</b>"],
            [{
                lat: 24.06738709386102,
                lng: 90.22775343121427
            }, "Kaliakair<br>Fuel: <b>15ltr</b>"],
        ];
        directionsRenderer.setMap(map);
        // calculateAndDisplayRoute(directionsService, directionsRenderer,tourStops)
        marker = new google.maps.Marker({
            map,
            animation: google.maps.Animation.DROP,
            position: {
                lat: 23.685371012219367,
                lng: 90.55068228152635
            },
        });

        const infoWindow = new google.maps.InfoWindow();
        tourStops.forEach(([position, title], i) => {
            const marker = new google.maps.Marker({
                position,
                map,
                title: `${i + 1}. ${title}`,
                label: `${i + 1}`,
                optimized: false,
            });
            marker.addListener("click", () => {
                infoWindow.close();
                infoWindow.setContent(marker.getTitle());
                infoWindow.open(marker.getMap(), marker);
            });
        });
    }

    function calculateAndDisplayRoute(directionsService, directionsRenderer, tourStops) {
        directionsService.route({
                origin: {
                    query: '23.685371012219367, 90.55068228152635',
                },
                destination: {
                    query: tourStops[1][0].lat + ',' + tourStops[1][0].lng,
                },
                travelMode: google.maps.TravelMode.DRIVING,
            },
            (response, status) => {
                if (status === "OK") {
                    directionsRenderer.setDirections(response);
                } else {
                    window.alert("Directions request failed due to " + status);
                }
            }
        );
    }
</script>
{% endblock %}