{% extends 'base.html' %} {% load static %} {% block content %}
<!--begin::Container-->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Card-->
            <div class="card card-custom gutter-b">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Category Counts</h3>
                    </div>
                    <div class="card-toolbar">
                        <select class="custom-select">
                            <option value="monthly_chart_count">Monthly Chart Count</option>
                            <option value="weekly_chart_count">Weekly Chart Count</option>
                            <option value="daily_chart_count">Daily Chart Count</option>
                        </select>
                    </div>
                </div>
                <div class="card-body">
                    <!--begin::Chart-->
                    <div id="monthly_chart_count"></div>
                    <div id="weekly_chart_count"></div>
                    <div id="daily_chart_count"></div>
                    <!--end::Chart-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <div class="col-lg-12">
            <!--begin::Card-->
            <div class="card card-custom gutter-b">
                <!--begin::Header-->
                <div class="card-header h-auto">
                    <!--begin::Title-->
                    <div class="card-title py-5">
                        <h3 class="card-label">Current Production</h3>
                    </div>
                    <!--end::Title-->
                </div>
                <!--end::Header-->
                <div class="card-body">
                    <!--begin::Chart-->
                    <div id="chart_1"></div>
                    <!--end::Chart-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <div class="col-lg-6">
            <!--begin::Card-->
            <div class="card card-custom gutter-b">
                <!--begin::Header-->
                <div class="card-header h-auto">
                    <!--begin::Title-->
                    <div class="card-title py-5">
                        <h3 class="card-label">Production</h3>
                    </div>
                    <!--end::Title-->
                </div>
                <!--end::Header-->
                <div class="card-body">
                    <!--begin::Chart-->
                    <div id="chart_26"></div>
                    <!--end::Chart-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <div class="col-lg-6">
            <!--begin::Card-->
            <div class="card card-custom gutter-b">
                <!--begin::Header-->
                <div class="card-header h-auto">
                    <!--begin::Title-->
                    <div class="card-title py-5">
                        <h3>Downtown & Causes</h3>
                    </div>
                    <!--end::Title-->
                </div>
                <!--end::Header-->
                <div class="card-body">
                    <!--begin::Chart-->
                    <div class="shadow p-3 mb-5 bg-body rounded-3">
                        <div class="row">
                            <div class="col-md-3 border">
                                <p>Downtown:</p>
                                <hr>
                                <span class="text-warning">3.5hours</span>
                            </div>
                            <div class="col-md-9 border">
                                <p>Top Causes: <strong>Machine Failure</strong></p>
                                <hr>
                                <span>Power Lost: <strong>2 Hours</strong></span>
                            </div>
                        </div>
                        <div id="chart_22"></div>
                    </div>
                    <!--end::Chart-->
                </div>
            </div>
            <!--end::Card-->
        </div>
    </div>
</div>
<!--end::Container-->


{% endblock content %} {% block js %}
<script src="{% static 'assets/js/pages/features/charts/charts/olympic_dashboard.js' %}"></script>

<script>
    $(document).ready(function() {
        $.each(['weekly_chart_count', 'daily_chart_count'], function(index, value) {
            $("#" + value).hide();
        });
        $("select.custom-select").change(function() {
            var selected_category = $(this).children("option:selected").val();
            if (selected_category) {
                $.each(['monthly_chart_count', 'weekly_chart_count', 'daily_chart_count'], function(index, value) {
                    $("#" + value).hide();
                });
                $("#" + selected_category).fadeIn(2000);
                $("#" + selected_category).show();
            }
        });
    });
</script>
{% endblock %}