{% extends 'base.html' %} {% load static %}{% block content %}
<div class="container py-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center">
                    <p style="font-weight: bold; font-size: 20px;">Count</p>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Count</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="w-25">Product 1</td>
                                <td class="w-25">100</td>
                                <td id="date1"></td>
                            </tr>
                            <tr>
                                <td class="w-25">Product 2</td>
                                <td class="w-25">100</td>
                                <td id="date2"></td>
                            </tr>
                            <tr>
                                <td class="w-25">Product 3</td>
                                <td class="w-25">100</td>
                                <td id="date3"></td>
                            </tr>
                            <tr>
                                <td class="w-25">Product 4</td>
                                <td class="w-25">100</td>
                                <td id="date4"></td>
                            </tr>
                            <tr>
                                <td class="w-25">Product 5</td>
                                <td class="w-25">100</td>
                                <td id="date5"></td>
                            </tr>
                            <tr>
                                <td class="w-25">Product 6</td>
                                <td class="w-25">100</td>
                                <td id="date6"></td>
                            </tr>
                            <tr>
                                <td class="w-25">Product 7</td>
                                <td class="w-25">100</td>
                                <td id="date7"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center">
                    <p style="font-weight: bold; font-size: 20px;">Live Feed</p>
                </div>
                <div class="card-body">
                    <video autoplay loop controls style="width: 100%;height: auto;">
                        <source src="movie.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                      </video>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js %}
<script>
    var date = new Date()
    $("#date1").html(date)
    $("#date2").html(date)
    $("#date3").html(date)
    $("#date4").html(date)
    $("#date5").html(date)
    $("#date6").html(date)
    $("#date7").html(date)
</script>
{% endblock %}