{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<style>
    .dt-button {
        background-color: #5584AC !important;
        color: white !important;
    }

    .light-grey {
        color: #a2a3b7;
    }

    @media only screen and (max-width: 400px) {
        .card-header {
            display: block !important;
        }
    }
</style>

<div class="container">
    <div class="row">

        <div class="col-xl-8">
            <!--begin: Stats Widget 19-->
            <div class="card card-custom bg-light-success card-stretch gutter-b">
                <!--begin::Body-->
                <div class="card-body my-3">
                    <a href="#"
                        class="card-title font-weight-bolder text-success text-hover-state-dark font-size-h6 mb-4 d-block">Great Employees</a>
                    <div class="font-weight-bold text-muted font-size-sm">
                      <!-- {% for i in Employees %}
                        {% if i.taskProgressPercentage > 70 %}

                        {% endif %}
                      {% endfor %} -->
                        <span class="text-dark-75 font-size-h2 font-weight-bolder mr-2">{{great_employees_list}}</span>
                    </div>
                </div>
                <!--end:: Body-->
            </div>
            <!--end: Stats:Widget 19-->

        </div>

        <div class="col-xl-4">
            <!--begin::Stats Widget 20-->
            <div class="card card-custom bg-light-danger card-stretch gutter-b">
                <!--begin::Body-->
                <div class="card-body my-4">
                    <a href="#"
                        class="card-title font-weight-bolder text-warning font-size-h6 mb-4 text-hover-state-dark d-block">Average Employees</a>
                    <div class="font-weight-bold text-muted font-size-sm">
                        <span class="text-dark-75 font-weight-bolder font-size-h2 mr-2">{{Unpaid_Employees}}</span>
                    </div>

                </div>
                <!--end::Body-->
            </div>
            <!--end::Stats Widget 20-->
        </div>





        <br>


        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">

                    <div>
                        <label for="designation">Filter Table By Designations</label>
                        <select class="form-control" name="designation" id="designation">
                            <option value="">ALL</option>
                            <option value="ENG">Engineer</option>
                            <option value="MANAGER">Manager</option>
                            <option value="QC">Quality Checker</option>
                            <option value="CONSULTANT">Consultant</option>
                        </select>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display table table-bordered table-hover table-checkable mt-10"
                            id="">
                            <thead>
                                <th>#</th>
                                <th>Employee</th>
                                <th>Name</th>

                                <th>ID</th>

                                <th>Salary</th>

                                <th>Progress Bar</th>
                                <th>Status</th>

                            </thead>
                            <tbody>
                              {% for Employee in Employees %}
                              <tr>
                                <th td class="align-middle" scope="row">{{Employee.id}}</th>
                                <td><img src="/media/{{Employee.profile_pic}}" alt="" width="100px" height="100px"></td>
                                <td class="align-middle">{{Employee.name}}</td>

                                <td class="align-middle">{{Employee.employee_id}}</td>

                                <td class="align-middle">{{Employee.salary}}</td>

                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{Employee.taskProgressPercentage}}%" aria-valuenow="25" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td>
                                  {% if Employee.taskProgressPercentage > 70 %}
                                    <span class="custom-badge status-green mb-1 btn btn-success">Good</span> <br>
                                    <span class="custom-badge status-pink mb-1">Poor</span> <br>
                                    <span class="custom-badge status-grey">Average</span>
                                  {% elif Employee.taskProgressPercentage > 30 and Employee.taskProgressPercentage < 70  %}
                                    <span class="custom-badge status-green mb-1">Good</span> <br>
                                    <span class="custom-badge status-pink mb-1">Poor</span> <br>
                                    <span class="custom-badge status-grey btn btn-warning">Average</span>
                                  {% elif Employee.taskProgressPercentage < 30  %}
                                    <span class="custom-badge status-green mb-1">Good</span> <br>
                                    <span class="custom-badge status-pink btn btn-danger mb-1">Poor</span> <br>
                                    <span class="custom-badge status-grey">Average</span>
                                  {% else %}
                                    <span class="custom-badge status-green mb-1">Good</span> <br>
                                    <span class="custom-badge status-pink mb-1">Poor</span> <br>
                                    <span class="custom-badge status-grey">Average</span>
                                  {% endif %}
                                </td>

                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                        {% if Employees.has_other_pages %}
                          <ul class="pagination">
                            {% if Employees.has_previous %}
                              <li><a href="?page={{ Employee.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                              <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in Employees.paginator.page_range %}
                              {% if Employees.number == i %}
                                <li class="active btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                              {% else %}
                                <li><a class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1" href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if Employees.has_next %}
                              <li><a  href="?page={{ Employees.next_page_number }}">&raquo;</a></li>
                            {% else %}
                              <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                          </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
